aniso8601==3.0.0
appnope==0.1.0
atomicwrites==1.1.5
attrs==18.1.0
backcall==0.1.0
click==6.7
decorator==4.3.0
Flask==1.0.2
Flask-Cors==3.0.4
Flask-RESTful==0.3.6
ipdb==0.11
ipython==6.4.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.12.0
Jinja2==2.10
MarkupSafe==1.0
more-itertools==4.1.0
parso==0.2.1
pbr==3.1.1
pexpect==4.5.0
pickleshare==0.7.4
pluggy==0.6.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.5.3
Pygments==2.2.0
pytest==3.6.0
python-dotenv==0.8.2
pytz==2018.4
simplegeneric==0.8.1
six==1.11.0
stevedore==1.26.0
traitlets==4.3.2
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
wcwidth==0.1.7
Werkzeug==0.14.1
